<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        
        {# Bootstrap stylesheet #}
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">

        {# Personal stylesheet #}
        <link href="{{ asset('build/stylesheet/app.css') }}" rel="stylesheet">

        {% endblock %}
    </head>
    
    <body class="container-fluid p-0">
        <header id="header container">
            <nav class="navbar navbar-dark bg-dark justify-content-center">
                <ul class="nav">
                    <li class="nav-item"><a href="{{ path('homePage') }}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Ranking</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Index</a></li>
                    <li class="nav-item"><a href="{{ path('login') }}" class="nav-link">Login</a></li>
                    {% if app.session.get('name') is defined %}
                    <li class="nav-item"><a href="#" class="nav-link">{{ app.session.get('name') }}</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="{{ path('logout') }}" class="nav-link">Logout</a></li>
                </ul>
            </nav>
        </header>

        <!-- Flash messages go here -->
      
        {% for error in app.flashes('error') %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}

        {% for success in app.flashes('success') %}
            <p class="alert alert-success">{{ success }}</p>
        {% endfor %}
        
        {% block body %}{% endblock %}

        <footer class="footer bg-dark text-muted p-4 text-center fixed-bottom">
            <p>Un site fait avec beaucoup d'amour et de café</p>
        </footer>

        {% block javascripts %}
        
        <script src="{{ asset('build/bootstrap-js/app.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>

        {% endblock %}

    
    </body>
    
</html>
